span.help {
  font-size: 80%;
}

th {
  font-weight: bold;
}

td {
  vertical-align: top;
  font-size: 14px;
  padding: 5px 10px !important;
}

tbody tr:nth-child(odd) td {
  background-color: var(--pico-table-border-color);
}

.funds {
  font-size: 80%;
}
